<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="thymeleaf/layout/layout">
<head>
    <meta charset="utf-8"/>
    <title>Talk King</title>
</head>
<body>
<div layout:fragment="content">
    <div class="wrap">
        <div class="content">
            <div class="fly-tab fly-tab-index">
        <span>
          <a href="topic/index.html" th:class="${tab eq '全部'}? layui-this">全部</a>
          <a href="topic/index.html" th:class="${tab eq '等待回复'}? layui-this">等待回复</a>
          <a href="topic/index.html" th:class="${tab eq '精品贴'}? layui-this">精品帖</a>
          <a href="user/index.html" th:class="${tab eq '我的贴'}? layui-this">我的帖</a>
        </span>
                <form action="http://cn.bing.com/search" class="fly-search">
                    <i class="iconfont icon-sousuo"></i>
                    <input class="layui-input" autocomplete="off" placeholder="搜索内容，回车跳转" type="text" name="q"/>
                </form>
                <a href="topic/add" class="layui-btn jie-add">我来吐槽</a>
            </div>


            <ul class="fly-list fly-list-top">
                <li class="fly-list-li">
                    <a href="user/home.html" class="fly-list-avatar">
                        <img src="http://tp4.sinaimg.cn/1345566427/180/5730976522/0" alt=""/>
                    </a>
                    <h2 class="fly-tip">
                        <a href="topic/detail.html">基于 layui的轻量级问答社区页面模版 V2版本</a>
                        <span class="fly-tip-stick">置顶</span>
                        <span class="fly-tip-jing">精帖</span>
                    </h2>
                    <p>
                        <span><a href="user/home.html">贤心</a></span>
                        <span>刚刚</span>
                        <span>layui框架综合</span>
                        <span class="fly-list-hint">
              <i class="iconfont" title="回答">&#xe60c;</i> 317
              <i class="iconfont" title="人气">&#xe60b;</i> 6830
            </span>
                    </p>
                </li>
                <li class="fly-list-li">
                    <a href="user/home.html" class="fly-list-avatar">
                        <img src="../res/images/avatar/00.jpg" alt=""/>
                    </a>
                    <h2 class="fly-tip">
                        <a href="topic/detail.html">基于 layui的轻量级问答社区页面模版 V2版本</a>
                        <span class="fly-tip-stick">置顶</span>
                    </h2>
                    <p>
                        <span><a href="user/home.html">纸飞机</a></span>
                        <span>30分钟前</span>
                        <span>技术闲谈</span>
                        <span class="fly-list-hint">
              <i class="iconfont" title="回答">&#xe60c;</i> 502
              <i class="iconfont" title="人气">&#xe60b;</i> 81689
            </span>
                    </p>
                </li>
            </ul>

                <ul class="fly-list" th:include="thymeleaf/components/topics :: topics(page=${page.page})"></ul>

            <div style="text-align: center">
                <div class="laypage-main">
                    <a href="/topic/index.html" class="laypage-next">更多求解</a>
                </div>
            </div>
        </div>
    </div>

    <div class="edge">
        <div class="fly-panel leifeng-rank">
            <h3 class="fly-panel-title">近一月活跃榜 - TOP 12</h3>
            <dl>

                <dd>
                    <a href="user/home.html">
                        <img src="../res/images/avatar/default.png"/>
                        <cite>纸飞机</cite>
                        <i>159次回答</i>
                    </a>
                </dd>
                <dd>
                    <a href="user/home.html">
                        <img src="../res/images/avatar/default.png"/>
                        <cite>纸飞机</cite>
                        <i>159次回答</i>
                    </a>
                </dd>
                <dd>
                    <a href="user/home.html">
                        <img src="../res/images/avatar/default.png"/>
                        <cite>纸飞机</cite>
                        <i>159次回答</i>
                    </a>
                </dd>
            </dl>
        </div>

        <dl class="fly-panel fly-list-one">
            <dt class="fly-panel-title">最近热聊</dt>

            <dd>
                <a href="topic/detail.html">Java实现LayIM后端的核心代码</a>
                <span><i class="iconfont">&#xe60b;</i> 767</span>
            </dd>
            <dd>
                <a href="topic/detail.html">Java实现LayIM后端的核心代码</a>
                <span><i class="iconfont">&#xe60b;</i> 767</span>
            </dd>
        </dl>
    </div>
</div>
</body>
</html>